 *{
     box-sizing: border-box;
     list-style: none;
 }

 body{
     margin: 0px 150px 0px 150px;
     border: 5px;
 }

 .header{
     padding : 25px;
     text-align: center;
     font-family:cursive;
     color: blanchedalmond;
     background-color: brown;     
 }

 .div1{
     display: flexbox;
 }

 button{
     background-color: brown;
     border-radius: 50%;
     float: left;
 }

 button:hover{
    cursor: pointer;
}

 .nav{
     display: flexbox;
     flex-direction: row;
     color: rgb(171, 231, 231);
    
 }
 nav a{
     display: inline;
     text-decoration: none;
     color: antiquewhite;
     margin: 5px;
     padding: 5px;
     border-radius: 3px;
     background-color: rgba(161, 73, 73, 0.479);
 }

 nav a:hover{
    background-color: rgb(250, 245, 245);
    color: rgba(165, 42, 42, 0.952);
    cursor: pointer;
 }

main{
    display:grid;
}

 section{
     text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
 }

 .cls1{
     /*background-color: rgb(243, 131, 26);*/
     background-image:url('./l.jpg') ;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .cls2{
     background-color: blanchedalmond;
 }
 .cls3{
    background-color: beige;

 }
 .cls4{
     background-color: azure;
 }
 .cls5{
     background-color: rgb(26, 24, 24);
 }

 .cls5 a{
     display: flexbox;
     color: aliceblue;
     padding: 5px 15px;
     border-radius: 30px;
     margin: 5px 10px;
     text-decoration: none;
 }

 footer{
     text-align: center;
     display: flexbox;
     flex-direction: row;
     padding-top: 5px;
     padding-bottom: 5px;
     background-color: rgb(48, 40, 40);
 }
 footer a{
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: rgb(48, 40, 40);
 }

 footer a:hover{
    background-color: rgb(121, 94, 94);
 }

 @media screen and (max-width:600px) {
     body{
         margin:0px;
     }
     .nav{
         display:flex;
     }
     
 }